body {
    background-image: url(rif/retroBackground.webp);
    background-repeat: no-repeat;
    background-size: cover;
    /*keeps background in place*/
    background-attachment: fixed;
}

img {
    border-radius: 20%;
    border: .3vw solid lightblue;
    height: 20vw;
}

.next {
    display: flex;
    align-items: center;
    gap: 10vw;

}

h1 {
    color: rgb(255, 255, 255);
    font-size: 4vw;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: left;
}

p {
    font-size: 50px;
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    border: .3vw solid lightblue;
    background-color: rgb(47, 117, 179);
    opacity: .92;
    border-radius: 20%;
    text-align: justify;
}

.lined_up {
    display: flex;
    align-items: center;
}



.menu-options {
    display: flex;
    margin-left: auto;
}

.menu-options a {
    color: white;
    transition: .2s;
    margin-right: 1.5vw;
    font-size: 2vw;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}


.menu-options a:hover {
    transform: translate(-.7vw);
    /*transform:translateY(xpx); moves it up/down*/
    opacity: 0.5;
}

.icon-row {
    text-align: center;
}

.icon-row a {
    transition: 0.2s;
    display: inline-block;
}

.icon-row a:hover {
    transform: translateY(-10px);
    opacity: 0.5;
}