body {
    background: url(rif/musicPaint.jpg);
    background-position-y: fixed;
    background-repeat: no-repeat;
}

.menu-options {
    text-align: right;
    font-size: 2vw
}

.menu-options a {
    color: rgb(0, 0, 0);
    display: inline-block;
    transition: .2s;
    margin-right: 1vw;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.menu-options a:hover {
    transform: translate(-.5vw);
    /*transform:translateY(xpx); moves it up/down*/
    opacity: 0.5;
}

h1 {
    color: rgb(0, 0, 0);
    font-size: 4vw;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
}

audio {
    display: block;
    margin: 0 auto;
}

.cent {
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 2.5vw;
}

.right {
    text-align: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 2.5vw;
}

.left {
    text-align: left;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 2.5vw;
}

.icon-row {
    text-align: center;
}

.icon-row a {
    transition: 0.2s;
    display: inline-block;
}

.icon-row a:hover {
    transform: translateY(-10px);
    opacity: 0.5;
}