body {
    background: url(rif/codingBackgroundImage\ \(1\).webp);
    background-repeat: repeat-y;
    background-size: 100%;
}

.menu-options {
    text-align: right;
    font-size: 40px
}

.menu-options a {
    color: rgb(255, 255, 255);
    display: inline-block;
    transition: .2s;
    margin-right: 25px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.menu-options a:hover {
    transform: translate(-15px);
    /*transform:translateY(xpx); moves it up/down*/
    opacity: 0.5;
}

h1 {
    color: rgb(255, 255, 255);
    font-size: 100px;
    margin-left: 150px;
    margin-right: 100px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.inlineImg {
    text-align: center;
    margin-bottom: 100px;
}

.inlineImg img {

    display: inline-block;
    height: 400px;

}



p {
    color: rgb(255, 255, 255);
    font-size: 50px;
    margin-left: 100px;
    margin-right: 100px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: justify;
}

.icon-row {
    text-align: center;
}

.icon-row a {
    transition: 0.2s;
    display: inline-block;
}

.icon-row a:hover {
    transform: translateY(-10px);
    opacity: 0.5;
}