img {
    height: 400px;
    transform: rotate(-10deg);
    text-align: right;
    margin-top: 5vw;
    margin-left: 4vw;
}

img {
    animation: spin 5s infinite linear;
}

.menu-options {
    text-align: right;
    font-size: 2vw
}

.menu-options a {
    color: rgb(255, 255, 255);
    display: inline-block;
    transition: .2s;
    margin-right: 1vw;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.menu-options a:hover {
    transform: translate(-15px);
    /*transform:translateY(xpx); moves it up/down*/
    opacity: 0.5;
}

p {
    color: rgb(255, 255, 255);
    font-size: 3vw;
    margin-right: 10vw;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: left;
    margin-left: 1vw;
    margin-top: -2vw;
    ;
}

body {
    background: url(rif/eoe.webp);
    background-position-y: fixed;
    background-repeat: no-repeat;
    background-size: 100%;

}


.rightAud {
    transform: rotate(20deg);
    text-align: right;
    margin-top: -00vw;
    margin-right: 10vw;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

.kimochi {
    margin-top: -23vw;
    transform: rotate(20deg);
}

.kimochi p {
    text-align: justify;
    margin-left: 60vw;
    font-size: 325%;
    color: blue;
    opacity: .5;
}