body {
    background-color: rgb(0, 39, 76);
    font-family: sans-serif;

}
p {
    color: rgb(255, 203, 5);
    text-align: left;
}

h1 {
    text-align: center;
    color: rgb(255, 203, 5);
    size: 90px;
}


img {
        display: block;
        margin: auto;
    height: 80px;
    width: auto;
    
}
ul{
    color: rgb(255,255,255);
}
