body {
    background-color: rgb(102, 190, 255);
    font-family: sans-serif;

}
p {
    color: rgb(255,178,102);
    text-align: left;
}

h1 {
    text-align: center;
    color: rgb(255,178,102);
}


img {
        display: block;
        margin: auto;
}
